@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><h1 class="display-4">Welcome to Covid19Tester</h1><br /><br /><br /></p>
    <div align="left">
        <h4>Acceptance Criteria:</h4><br />
        <h5>Websitet skal bygge på en Cosmos DB - done</h5><br />
        <h5>Website skal bruges til at dokumentere test af Covid 19 - done</h5><br />
        <h5>Man skal kunne indtaste en person med navn og personnummer - done</h5><br />
        <h5>Man skal kunne indtaste resultat af test efterfølgende (forestil jer at den kommer efter et par dage) - done</h5><br />
        <h5>Man skal kunne fremsøge en person på personnummer og herefter editere denne (indsætte resultat af test, rette slåfejl i navn mv.) - done</h5><br /><br />
    </div>    
</div>
